.clock {
  height: 400px;
  width: 400px;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  z-index: 1;
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  transition: all 400ms;
  cursor: pointer;
}


.timer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2000;
}

#timer-header {
  font-size: 1.5em;
  padding-bottom: 3em;
}

#timer-countdown {
  font-size: 3em;
}


.clock:hover {
  transform: scale(1.2);
}

.fill {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  left:0 ;
  height: 80%;
  background-color: #4CAF50;
}

@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 667px)
  and (orientation: portrait) {
  .clock {
    height: 250px;
    width: 250px;
  }
  #timer-header {
    font-size: 1em;
    padding-bottom: 3em;
  }

  #timer-countdown {
    font-size: 2em;
  }
  
}
